@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Desce Uma Gelada</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo(a) - Desce Uma Gelada</h2>
        <p>
            Desce Uma Gelada é uma loja onde você encontra as melhores cervejas artesanais.
        </p>
    </div>
</div>
