@model IEnumerable<DesceUmaGeralada.Models.DesceUmaGeladaViewModels.ProductDateGroup>

@{
    ViewData["Title"] = "Estatísticas de Clientes";
}

<h2>Estatísticas de Clientes</h2>

<table>
    <tr>
        <th>
            Data Produto
        </th>
        <td></td>
        <th>
            Cliente
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Produto)
        </td>
        <td></td>
        <td>
            @item.ClienteCount
        </td>
    </tr>
    }
</table>